body{
    background-color: darkcyan;
}

#buttons-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(6,100px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    margin: 5px;
}

#ipsum {
    width: 340px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    border: 10px solid darkblue;
}

#storedValue {
    position: absolute;
    margin: 5px;
    right: 0;
    top: 0;
}

#currentValue {
    position: absolute;
    margin: 5px;
    right: 0;
    bottom: 0;
}